# [optional] HF_HOME=/path/to/your/cache
# [optional] HF_TOKEN=hf_YOUR_TOKEN
# [optional for sample generation] OPENROUTER_API_KEY=YOUR_TOKEN
# [optional for sample generation] CACHE_GENERATION_FILE=/home/user/path/to/generated_samples_cache.json
# [optional for gemini usage] GOOGLE_API_KEY=YOUR_TOKEN
